<div class="row">
  <div class="col">
    <h2>Contenu de la première colonne</h2>
    <p>Ce contenu pourrait être du texte, des images, des boutons, etc.</p>
  </div>
</div>
<br>
<div class="row mt-5 mb-5">
  <div class="col-md-6 mx-auto">
    <h2>Contenu de la deuxième colonne</h2>
    <p>Ce contenu pourrait être différent de celui de la première colonne.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2>Contenu de la troisième colonne</h2>
    <p>Encore une fois, vous pouvez ajouter du texte, des images, etc.</p>
  </div>
</div>
